<!-- Two -->
<section id="two" class="main special">
    <div class="container">
        <span class="image fit primary"><img src="{{'assets/dist/images/pic02.jpg'|theme }}" alt="" /></span>
        <div class="content">
            <header class="major">
                <h2>{{ this.theme.two_title }}</h2>
            </header>
            <p>{{ this.theme.two_description }}</p>
            <ul class="icons-grid">
        {% if this.theme.two_items|length > 0 %}
        {% for two_item in this.theme.two_items %}
                <li>
                    <span class="icon {{ two_item.icon }}"></span>
                    <h3>{{ two_item.name }}</h3>
                </li>
                <li>
                    <span class="icon {{ two_item.icon_two }}"></span>
                    <h3>{{ two_item.name_two }}</h3>
                </li>
        {% endfor %}
        {% else %}
                <li>
                    <span class="icon solid major fa-network-wired"></span>
                    <h3>обслуживание сетей</h3>
                </li>
                <li>
                    <span class="icon solid major fa-server"></span>
                    <h3>дистанционное обслуживание ПК и серверов</h3>
                </li>
                <li>
                    <span class="icon solid major fa-user-cog"></span>
                    <h3>проектирование IT-инфраструктуры</h3>
                </li>
                <li>
                    <span class="icon solid major fa-code"></span>
                    <h3>инсталляция и настройка программных продуктов</h3>
                </li>
                <li>
                    <span class="icon solid major fa-sync-alt"></span>
                    <h3>обновление конфигураций программного обеспечения</h3>
                </li>
                <li>
                    <span class="icon solid major fa-street-view"></span>
                    <h3>работа с провайдерами услуг телефонии, интернета и др</h3>
                </li>
        {% endif %}						
            </ul>
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
    </div>
</section>